{% extends "base.html" %} {% block main %}
<h2 class="display-2 text-center text-uppercase">{{ last_spill_days }} days since last spill</h2>
<hr />

<h1>Drunks List</h1>

<div class="d-flex justify-content-between">
    <div>There are {{ drunks.len() }} drunkards on the leaderboard</div>
    <div><kbd>Ctrl-F</kbd> to search</div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>Drunkard</th>
            <th>
                <abbr title="beer + (wine * 2) + (shots * 2) + (cocktails * 2) + (derby * 5)">
                    Score
                </abbr>
            </th>
            <th>Beer</th>
            <th>Wine</th>
            <th>Shots</th>
            <th>Cocktails</th>
            <th>Derby</th>
            <th>Last Drink</th>
            <th>Last Drink At</th>
            <th>Last Spill At</th>
        </thead>
        <tbody>
            {% for (spill_str, drunk) in drunks %}
            <tr>
                <td nowrap>{{ drunk.user_name }}</td>
                <td><strong>{{ drunk.score }}</strong></td>
                <td>{{ drunk.beer }}</td>
                <td>{{ drunk.wine }}</td>
                <td>{{ drunk.shots }}</td>
                <td>{{ drunk.cocktails }}</td>
                <td>{{ drunk.derby }}</td>
                <td>{{ drunk.last_drink.clone().unwrap_or_default() }}</td>
                <td nowrap>{{ drunk.updated_at }}</td>
                <td>{{ spill_str }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}