{% extends "base.html" %} {% block main %}
<h1>Quotes List</h1>

<div class="d-flex justify-content-between">
    <div>There are {{ quotes.len() }} Quotes in this list</div>
    <div><kbd>Ctrl-F</kbd> to search</div>
</div>

<form method="GET" class="my-2">
    <div class="input-group">
        <input type="number" class="form-control" id="user-id" name="user" readonly="true"
            value="{{ selected.unwrap_or_default() }}" />
        <input type="date" class="form-control" name="from_date" value="{{ from_date }}">
        <input type="date" class="form-control" name="to_date" value="{{ to_date }}">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a href="{{ " ROUTE_PREFIX"|env }}/quotes" class="btn btn-outline-primary">Clear</a>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>Text</th>
            <th>User</th>
            <th>Author</th>
            <th>Inserted At</th>
        </thead>
        <tbody>
            {% for quote in quotes %}
            <tr>
                <td nowrap>{{ quote.id }}</td>
                <td width="99%">{{ quote.text }}</td>
                <td nowrap title="{{ quote.user_id }}">
                    <a href="?user={{ quote.user_id }}">{{ quote.user_name }}</a>
                </td>
                <td nowrap title="{{ quote.author_id }}">
                    {{ quote.author_name }}
                </td>
                <td nowrap>{{ quote.inserted_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}